.card{
    width: 500px;
    height: 500px;
    border: 10px;
    box-shadow: 0px 0px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.image{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.details{
    padding: 10px;
}